:root{
    /* Typography - Size */
   
    --font-size-h1: 3rem; /*48px*/
    --font-size-h2: 2.5rem; /*40px*/
    --font-size-h3: 2.125rem; /*34px*/
    --font-size-h4: 1.75rem; /*28px*/

    --font-size-menu: 1.625rem; /*26px*/

    --font-size-l: 1.5rem; /*24px*/
    --font-size-m: 1.375rem; /*22px*/
    --font-size-s: 1rem; /*16px*/
 
     /* Space - Size */

    --space-s: 30px;
    --space-m: 60px;
    --space-l: 90px;
    --space-xl: 210px;
  
}

/* Margin*/

.margin-bottom-s {margin-top: var(--space-s);}
.margin-bottom-m {margin-top: var(--space-m);}
.margin-bottom-l {margin-top: var(--space-l);}
.margin-bottom-xl {margin-top: var(--space-xl);}


.margin-left-s {margin-top: var(--space-s);}
.margin-left-m {margin-top: var(--space-m);}
.margin-left-l {margin-top: var(--space-l);}
.margin-left-xl {margin-top: var(--space-xl);}


.margin-top-s {margin-top: var(--space-s);}
.margin-top-m {margin-top: var(--space-m);}
.margin-top-l {margin-top: var(--space-l);}
.margin-top-xl {margin-top: var(--space-xl);}


.margin-right-s {margin-top: var(--space-s);}
.margin-right-m {margin-top: var(--space-m);}
.margin-right-l {margin-top: var(--space-l);}
.margin-right-xl {margin-top: var(--space-xl);}



/* Padding*/


.padding-bottom-s {margin-top: var(--space-s);}
.padding-bottom-m {margin-top: var(--space-m);}
.padding-bottom-l {margin-top: var(--space-l);}
.padding-bottom-xl {margin-top: var(--space-xl);}


.padding-left-s {margin-top: var(--space-s);}
.padding-left-m {margin-top: var(--space-m);}
.padding-left-l {margin-top: var(--space-l);}
.padding-left-xl {margin-top: var(--space-xl);}


.padding-top-s {margin-top: var(--space-s);}
.padding-top-m {margin-top: var(--space-m);}
.padding-top-l {margin-top: var(--space-l);}
.padding-top-xl {margin-top: var(--space-xl);}


.padding-right-s {margin-top: var(--space-s);}
.padding-right-m {margin-top: var(--space-m);}
.padding-right-l {margin-top: var(--space-l);}
.padding-right-xl {margin-top: var(--space-xl);}


.text-align-center {text-align: center;}


  
    
body{
     font-family: "Roboto";
        
}

h2{
        font-size: var(--font-size-h2);
}
    

h3{
        font-size: var(--font-size-h3);
}

h4{
        font-size: var(--font-size-h4);
        font-weight: 900;
}
    

   
header{
        
    min-height: 80px;
    width: 100%;
        
}

.logo{
        
    display: inline-block;
    height: 85px;
    margin: 30px 30px 30px 60px;
    width: 160px;
}
    
.menu{
    display:flex;
    height: 145px;
    width: 100%;
}
    
.menu .espaco{
   flex: 1;
}

    
.conteudo{
    display: inline-flex;
    gap: 60px;
    height: 25px;
    margin: var(--space-m) ;
}

.conteudo li{
    display: inline-flex;
    font-size: var(--font-size-menu);
        
}

    li a:hover{
       color: #48B2CA;
    }

    .decoracaomenu{
        color: black;
        
    }

    a{
        color: black;
        text-decoration: none;
      
    }


    .imagemHome{
        background-image: url("../image/boloredvelvet.png");
        background-position: center;
        font-family: "milonga";
        height:1103px; 
        width: 100%;
        
        
        
    }
    .chamadadeacao{
        color:  white;
        padding: var(--space-m);
        text-align: right ;
        
        
    }

    h1{
        font-size: var(--font-size-h1);
        font-family: "milonga";
    }

    button{
        align-items: center;
        background-color: #48B2CA;
        border-radius: 30px;
        border: 0;
        color: white;
        display: inline-flex;
        font-size: var(--font-size-l);
        gap: 15px;
        padding: 15px 30px;
        text-decoration: none;
        
    }

    .edicaobutton{
        margin-top: var(--space-s);
    }

    .seta{
        text-align: center;
        height: 30px;
        width: 30px;
    }

    .sobre{
        height: 525px;
        width: 100%;
        font-size: var(--font-size-h2); 
        padding-top: var(--space-m);
        text-align: center;
    }
    
    .h2sobre{
        font-family: "milonga";
       
    }
    .sobre p{
        font-size: var(--font-size-m);
    }

    .imagens{
        background-color: bisque;
        display: flex;
        height: 450px;
        width: 100%;

    
    }
    .pagina{
        
        
        flex:1 ;
        font-family: "milonga";
        font-size: var(--font-size-h1);
        position: relative;
        
        

    }

    .decoracao{
        align-items: flex-end;
        color: white;
        display: flex;
        font-family: 'milonga';
        height: 100%;
        justify-content: center;
        padding-bottom: var(--space-m);
        position: relative;
        text-align: center; 
        z-index: 1;
    }

    .bolo{
        background-image: url("../image/bolo.png");
        background-size: cover;
       

    }

    .doces{
        background-image: url("../image/doces.png");
        background-size: cover;

    }

    .kitfesta{
        background-image: url("../image/kitfesta.jpg");
        background-size: cover;

    }

    .gradiente{
        background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba( 0, 0, 0, 0));
        height: 210px;
        bottom: 0;
        width: 100%;
        position: absolute;
    }
    
    .footer{
        background-color: #48B2CA;
        display: flex;
        justify-content: space-between;
        height: 400px;
        padding:var(--space-m);
        width: 100%;
        
        
    }

    
    
    .telefone{
        align-items: center;
        display: flex;
        font-size: var(--font-size-m);
        gap: 15px;
        padding-top: var(--space-m);
    }

    .email{
        align-items: center;
        display: flex;
        gap: 15px;
        font-size: var(--font-size-m);
        padding-top: 15px;
    }

    

.social{
    padding-top:var(--space-s);
    text-align: right;
            
}

.iconsocial{
    height: 40px;
    width: 40px;
}

/* *****************************************fim home*************************************************************/

/*inico pagina bolos*/

.titulopagina{
    background-color: #E1F6FA;
    font-family: "milonga";
    margin-top:var(--space-m);
    text-align: center;
   
}

.titulopagina h2{
    padding: 15px 0 15px 0;
}


.card{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: var(--space-xl);
    padding-left: var(--space-l);
    padding-right: var(--space-l);

}

.primeirocard{
    margin-top: 160px;
}

.card .img{
    display: inline-block;
}

.card .img img{
    height: 400px;
    width: 400px;
}





.card .textocard{
    display: inline-block;
    font-size: var(--font-size-l);
}

.textocorrido{ 
    min-height: 60px;
    padding-top: 30px;
    width: 540px;
}

.button{
    display: flex;
    cursor:pointer;
    justify-content: center;
}




/* *****************************************fim bolos*************************************************************/
/*inico pagina doces*/


.imgnido{
    background-image: url(../image/nido.png);
    background-size: cover;
}

.imgbrigadeiro{
    background-image: url(../image/doces.png);
    background-size: cover;
}

.imgbeijinho{
    background-image: url(../image/beijinho.jpg);
    background-size: cover;
}


/* *****************************************fim Doces*************************************************************/
/*inico pagina kit festa*/

.imgkit8{
    background-image: url(../image/kitfesta.jpg);
    background-size: cover;
}

.imgkit15{
    background-image: url(../image/kitfesta.jpg);
    background-size: cover;
}

.imgkit25{
    background-image: url(../image/kitfesta.jpg);
    background-size: cover;
}


/* *****************************************fim Kit festa*************************************************************/
/*inico pagina contato*/

.subtitulo{
    margin-top: 160px;
    text-align: center;
}

.horario h3{
    font-family: "milonga";
    font-size: var(--font-size-h3);
    margin-top: 90px;
}

.card.cardrelogio{
    height: 300px;
    margin-top: 90px;
    
}

.card .img.imgrelogio{
    align-items: center;
    display: flex;
    justify-content: center;
    
    
}




/* *****************************************fim contato*************************************************************/
/*inico pagina encomendar*/

.orcamento{
    padding: 160px 60px 60px 60px;
}

.orcamento h3{
    font-family: "milonga";
    font-size: var(--font-size-h3);
    padding-top: 90px;
}

.orcamento h3:first-of-type{

    padding-top: 0;
}

.escolha{
    display: flex;
    justify-content: space-evenly;
    padding-top: 120px;
}

.e1 h4, .e2 h4{
    text-align: center;
    font-weight: 900;
}

.alinhamento h4{
    padding-top: 30px;
}

.preco{
    opacity: 0;
}

.alinhamento.selected .preco{
    opacity: 1;
}

.sabormassa{
    height: 80px;
    width: 80px;
}

.tamanhomassa{
    align-items: self-end;
}


.tamanhoxs{
    height: 80px;
    width: 80px;
}

.tamanhos{
    height: 100px;
    width: 100px;
}
.tamanhom{
    height: 120px;
    width: 120px;
}

.tamanhol{
    height: 140px;
    width: 140px;
}
.tamanhoxl{
    height: 160px;
    width: 160px;
}

.resultado{
    font-size: var(--font-size-l);
    padding-top: 60px;
}


.recheio .preco{
    display: inline-block;
}

h4.titulo{
   
   text-align: center;
   
}

.obrigatorio{
    color: red;
}

.e3{
    display: flex;
    flex-direction: column;
    padding-top: 90px;
    
}

.e3 .alinhamento, .e4 .alinhamento{
    display: flex;
}

.e3 .alinhamento p:first-of-type, .e4 .alinhamento p:first-of-type{
    flex: 1;
}



.e3 .alinhamento li:first-of-type,.e4 .alinhamento li:first-of-type{
    padding-top: 60px;
}

p{
    font-size: var(--font-size-m);
    
}


.content{
   display: flex;
   justify-content: center;
   padding-top: 60px;
}

.bloco{
    border-radius: 10px;
    height: 100px;
    width: 700px;
    padding-top: 15px;
} 








    @media (max-width: 768px) {
        .imagemHome {
            background-size: cover;
            height: 350px;
        }
    }



    /* para fazer o menu mobile
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    flex-direction: column;
    background: white;
    margin: 0;
    padding: 30px;
    height: 100%;
    */

    /*
    justify-content: center; //horizontalmente da pagina
        align-items: center; //vertical da pagina*/

/*flex, 1 obriga a div ocupar o espaco todo entao colocando em todas elas ocupam o maior espaco possivel */
/* background-position: center center;  // vertical horizontal */
